html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #b3b3b3;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 402px;
  box-sizing: border-box;
  padding: 36px 32px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.upload-file {
  box-sizing: border-box;
  text-align: center;
}

.title {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
  margin-top: 0;
}

.text {
  font-weight: 400;
  font-size: 10px;
  color: #828282;
}

.form {
  box-sizing: border-box;
  padding-top: 15px;
}

.drag-label {
  width: 338px;
  height: 219px;
  display: flex;

  width: 100%;
  height: 100%;

  padding: 35px 0;

  background: #f6f8fb;
  border-radius: 12px;

  background-image: repeating-linear-gradient(
      to right,
      #97bef4 0%,
      #97bef4 70%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      #97bef4 0%,
      #97bef4 70%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to bottom,
      #97bef4 0%,
      #97bef4 70%,
      transparent 50%,
      transparent 100%
    ),
    repeating-linear-gradient(
      to bottom,
      #97bef4 0%,
      #97bef4 70%,
      transparent 50%,
      transparent 100%
    );

  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 23px 1px, 23px 1px, 1px 23px, 1px 23px;
}

.drag-image {
  margin-bottom: 45px;
}

.text-form {
  color: #bdbdbd;
  font-size: 12px;
}

.label-file {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  background: #2f80ed;

  cursor: pointer;
  box-sizing: border-box;

  padding: 8px 18px;
  border-radius: 8px;
}

.input {
  display: none;
}

button {
  border: none;
}

/** Progress */
.upload-progress {
  display: none;

  border-radius: 12px;

  box-sizing: border-box;
  text-align: left;
}

.progress-bar {
  width: 100%;
  height: 6px;
  display: block;

  margin-top: 32px;
  background-color: #f2f2f2;
  border-radius: 8px;

  position: relative;
}

.progress-bar:after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #2f80ed;
  border-radius: 8px;
  animation: move 2s infinite ease-in-out;
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(235%);
  }

  100% {
    transform: translateX(0%);
  }
}

/** Figure */
.success {
  display: none;
  background-image: url(../assets/images/success.svg);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-x: center;
  background-position-y: 40px;
  padding-top: 86px;
  text-align: center;
}

.figure {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.image-uploaded {
  width: 100%;
  height: 224px;
  border-radius: 12px;
  margin-top: 10px;
  object-fit: fill;
  background-color: #ececec;
}

.wrapper-copy {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 1px 1px 7px;
  background: #f6f8fb;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.link {
  display: block;
  flex: 1;
  margin-right: 15px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  text-decoration: none;
  font-weight: 500;
  font-size: 8px;
  color: #4f4f4f;
}

.wrapper-copy button {
  text-transform: capitalize;
  padding: 11px 20px;
  font-size: 8px;
}

#input-hidden {
  opacity: 0;
  width: 0;
}
